/* Fonts */

h1 {
    font-family: "Noto Serif JP", serif;
    font-weight: 900;
    font-size: 3rem;
    color: #444444;
}

h2 {
    font-family: "Noto Serif JP", serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: #EB6565;
}

h3 {
    font-family: "Noto Serif JP", serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: #444;
}

p {
    font-family: "Assistant", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #444;
}

a {
    font-family: "Assistant", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #444;
    text-decoration: underline;
}

ol {
    font-family: "Assistant", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #444;
    list-style-position: inside;
}

figcaption {
    font-family: "Assistant", sans-serif;
    font-size: 1rem;
    color: #444;
    text-align: center;
    margin-top: 8px;
}


/* Sticky Header */

#sticky-header {
    height: 60px;
    display: none;
    position: sticky;
    top: 0px;
    background: white;
    align-items: center;
    padding-left: 16px;
    transition: transform 0.4s;
}

#sticky-header a {
    height: 20px;
}

#header-name {
    font-family: "Noto Serif JP", serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: #999;
    margin-left: 24px;
}


/* Sticky Header behavior */

.scroll-down #sticky-header {
    display: flex;
    transform: translate3d(0, -100%, 0);
}

.scroll-up #sticky-header {
    display: flex;
    transition: transform 0.4s;
}


/* Description */

#project-description {
    padding-top: 80px;
    background-color: #e5e5e5;
    padding-left: 144px;
    margin-bottom: 120px;
    overflow-x: hidden;
}

#description-bottom {
    display: flex;
}

#container-description {
    width: 50%;
    max-width: 720px;
    margin-top: 64px;
}

#container-description h1 {
    margin-bottom: 24px;
}

#container-description p {
    font-size: 1.5rem;
}

#circle {
    height: 25vw;
    width: 50vw;
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
    background-color: #EB6565;
    margin-bottom: 8px;
    position: relative;
    left: 12.5vw;
    align-self: flex-end;
}

@media only screen and (max-width: 600px) {
    #project-description {
        padding: 16px 16px 0 16px;
        margin-bottom: 80px;
    }

    #description-bottom {
        flex-wrap: wrap;
    }

    #container-description {
        width: 100%;
        margin-top: 40px;
    }

    #circle {
        width: 100vw;
        height: 50vw;
        border-top-left-radius: 200vw;
        border-top-right-radius: 200vw;
        left: 0;
        margin-top: 40px;
    }
}


/* Case */

.title-case {
    max-width: 450px;
    margin: 0 auto 24px auto;
}

.text-case {
    max-width: 450px;
    margin: 0 auto 80px auto;
}

#project-case .image-opening {
    max-width: 100vw;
    margin: 0 auto 80px auto;
    text-align: center;
}

#project-case .image-opening img {
    max-width: 100vw;
}

#project-case .text-case p {
    margin-bottom: 24px;
}

#project-case .text-case ol {
    margin-bottom: 24px;
}

#project-case .image-case {
    display: block;
    max-width: 690px;
    margin: 0 auto 80px auto;
}

#project-case .image-case img {
    width: 100%;
}

#project-case .image-case iframe {
    display: block;
    margin: 0 auto;
    border: solid 4px #e5e5e5;
}

.image-gallery {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    width: 100vw;
    margin: 0 auto 80px auto;
    padding: 0 160px;
}

.image-gallery img {
    border: solid 2px #e5e5e5;
    width: 100%;
}

#project-case figure figcaption a {
    font-size: 1rem;
}

#project-case .text-case p.text-comment {
    color: #999;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .title-case {
        padding: 0 16px;
    }
    
    .text-case {
        padding: 0 16px;
    }

    #project-case .image-case {
        padding: 0 16px;
    }
}


/* Other projects */

#other-projects {
    margin: 160px auto 0 auto;
}

#other-projects #title {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 64px;
}

#other-projects #title h2 {
    width: 50%;
    font-size: 3rem;
}

#other-projects .container-grid {
    width: 100%;
    padding: 0 16px 0 16px;
    display: inline-grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 32px;
    justify-content: center;
}

#other-projects .container-grid a {
    text-decoration: none;
}

#other-projects .container-grid a:hover h3 {
    text-decoration: underline;
    color: #EB6565;
}

#other-projects .container-grid .work-item {
    margin-bottom: 64px;
}

#other-projects .container-grid .work-item div img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

#other-projects .container-grid .work-item h3 {
    margin-bottom: 8px;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #other-projects .container-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    #other-projects .container-grid {
        grid-template-columns: 1fr;
    }

    #other-projects #title h2 {
        width: 100%;
        margin-left: 16px;
    }
}